<!-- <h1>using ul / li elements</h1>
<ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Step 1</a>
    <ng-template ngbNavContent>
      <app-subcompa></app-subcompa>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Step 2</a>
    <ng-template ngbNavContent>
      <app-subcompb></app-subcompb>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Step 3</a>
    <ng-template ngbNavContent>
      <app-subcompc></app-subcompc>
    </ng-template>
  </li>
</ul>


<br />

<br />

<br />

<br />

<h1>using ngb markup</h1> -->

<nav ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs" [destroyOnHide]="false">
  <ng-container [ngbNavItem]="1">
    <a ngbNavLink>Step 1</a>
    <ng-template ngbNavContent>
      <app-subcompa></app-subcompa>
    </ng-template>
  </ng-container>
  <ng-container [ngbNavItem]="2" [disabled]="step2Disabled">
    <a ngbNavLink>Step 2</a>
    <ng-template ngbNavContent>
      <app-subcompb></app-subcompb>
    </ng-template>
  </ng-container>
  <ng-container [ngbNavItem]="3" [disabled]="step3Disabled">
    <a ngbNavLink>Step 3</a>
    <ng-template ngbNavContent>
      <app-subcompc></app-subcompc>
    </ng-template>
  </ng-container>
  <ng-container [ngbNavItem]="4" [disabled]="step4Disabled">
    <a ngbNavLink>Final Step</a>
    <ng-template ngbNavContent>
      <p>ok cool</p>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<button (click)="back()">back</button>
<button (click)="next()">next</button>

